/its1/__pycache__
*.exe
.vscode
/docs/auxil/
/.idea/
/out/
/docs/einsendeaufgaben/einsendeaufgaben 1/Einsendeaufgaben ITS 1.ind
/docs/einsendeaufgaben/einsendeaufgaben 2/Einsendeaufgaben ITS 2.ind
/auxil/
/docs/einsendeaufgaben/einsendeaufgaben 3/Einsendeaufgaben ITS_3.ind
/docs/einsendeaufgaben/einsendeaufgaben 4/Einsendeaufgaben ITS 4.ind
